In [12]:
print('hello')

hello

In [1]:
print('Richard')

Richard

blah blah blah

# hello this is first heading

In [13]:
2+1

3

In [14]:
2-1

1

In [15]:
2*2

4

In [16]:
4/2

2.0

In [17]:
5%2

1

In [18]:
10%10

0

In [19]:
2!

SyntaxError: invalid syntax (<ipython-input-19-49983e933ced>, line 1)

In [20]:
2^2

0

In [21]:
2**2

4

In [22]:
a=5

In [23]:
a

5

In [2]:
a = kid

NameError: name 'kid' is not defined

In [25]:
a

5

In [3]:
a = "kid"

In [4]:
a

'kid'

In [28]:
a = 10

In [29]:
a + 10

20

In [30]:
a

10

In [39]:
a = a + a

In [35]:
a

20

In [40]:
a

160

In [41]:
type(a)

int

In [5]:
a = 'kid'

In [6]:
type(a)

str

In [44]:
a = 10.2

In [45]:
type(a)

float

In [1]:
a

NameError: name 'a' is not defined

In [2]:
'hello'

'hello'

In [3]:
'I love python'

'I love python'

In [7]:
'hello' + "kid"

'hellokid'

In [5]:
"I'm going to run"

"I'm going to run"

In [6]:
'I\'m going to run'

"I'm going to run"

In [7]:
'Hello \n world'

'Hello \n world'

In [8]:
'hello /nworld'

'hello /nworld'

In [10]:
print('hello \t world')

hello 	 world

In [11]:
len('hello')

5

In [8]:
len('i am kid')

8

In [13]:
name = 'sam'

In [14]:
name

'sam'

In [15]:
last_letter = name[1:]

In [16]:
last_letter

'am'

In [17]:
'P' + last_letter

'Pam'

In [18]:
last_letter

'am'

In [19]:
last_letter = 'P' + last_letter

In [20]:
last_letter

'Pam'

In [21]:
letter = 'z'

In [22]:
z *10

NameError: name 'z' is not defined

In [23]:
letter * 10

'zzzzzzzzzz'

In [24]:
x = 'hello world'

In [25]:
x.capitalize

In [26]:
x.capitalize()

'Hello world'

In [27]:
x.upper()

'HELLO WORLD'

In [28]:
x

'hello world'

In [29]:
x.capitalize

In [9]:
print('I just love myself {}'.format('kid'))

I just love myself kid

In [41]:
print("The {q} {b} {f}".format(b='brown',f='fox',q='quick'))

The quick brown fox

In [47]:
result = 100/77

In [48]:
result

1.2987012987012987

In [52]:
print('the result is {r:1.4f}'.format(r=result))

the result is 1.2987

In [60]:
name = 'phone thiri'

In [61]:
print(f'hello my name is {name}')

hello my name is phone thiri

In [62]:
#hi hi this is comment
person = 'sam'
age = 3

In [63]:
print(f"{person} is {age} years old.")

sam is 3 years old.

hello

sadfsadf

In [1]:
mylist = [1,2,3]

In [2]:
mylist

[1, 2, 3]

In [3]:
len(mylist)

3

In [10]:
mylist = ["kid",37.1982]

In [11]:
mylist

['kid', 37.1982]

In [13]:
mylist2 =[mylist]

In [14]:
mylist2

[['kid', 37.1982]]

In [15]:
mylist2[0]

['kid', 37.1982]

In [16]:
mylist[0]

'kid'

In [10]:
mylist[0][0]

's'

In [11]:
mylist[1]

37.1982

In [12]:
mylist = ['A','B',"C","D",'E']

In [13]:
mylist[1:]

['B', 'C', 'D', 'E']

In [14]:
mylist[-1]

'E'

In [15]:
mylist[-1::]

['E']

In [18]:
mylist[-1::1]

['E']

In [19]:
mylist[::-1]

['E', 'D', 'C', 'B', 'A']

In [21]:
mylist[0].lower()

'a'

In [22]:
mylist.append("F")

In [23]:
mylist

['A', 'B', 'C', 'D', 'E', 'F']

In [24]:
mylist.pop()

'F'

In [25]:
mylist

['A', 'B', 'C', 'D', 'E']

In [26]:
n = ['3']

In [27]:
my_dict = {'key1':'value1','key2':'value2'}

In [28]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [29]:
my_dict[0]

KeyError: 0

In [30]:
my_dict.get

In [31]:
my_dict.get(0)

In [32]:
my_dict.get('key1')

'value1'

In [33]:
my_dict['key2']

'value2'

In [34]:
price_lookup = {'banana':2, 'apple': 3, 'orange':1.5}

In [35]:
price_lookup['banana']

2

In [36]:
price_lookup['grape'] = 2.5

In [39]:
price_lookup

{'banana': 2, 'apple': 3, 'orange': 1.5, 'grape': 2.75}

In [38]:
price_lookup['grape'] = 2.75

In [40]:
price_lookup.keys()

dict_keys(['banana', 'apple', 'orange', 'grape'])

In [41]:
price_lookup.items()

dict_items([('banana', 2), ('apple', 3), ('orange', 1.5), ('grape', 2.75)])

In [42]:
t = (1,2,3)

In [43]:
mylist = [1,2,3]

In [44]:
t

(1, 2, 3)

In [45]:
mylist

[1, 2, 3]

In [46]:
type(t)

tuple

In [47]:
type(mylist)

list

In [48]:
len(t)

3

In [49]:
len(mylist)

3

In [54]:
t = ('one',2,3,2)

In [51]:
t[0]

'one'

In [52]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [55]:
t.count(2)

2

In [56]:
t.index()

TypeError: index() takes at least 1 argument (0 given)

In [57]:
t.inde(2)

AttributeError: 'tuple' object has no attribute 'inde'

In [58]:
t.index(2)

1

In [59]:
t.index(3)

2

In [60]:
t

('one', 2, 3, 2)

In [61]:
t[0] = 'two'

TypeError: 'tuple' object does not support item assignment

In [62]:
myset = set()

In [63]:
myset

set()

In [64]:
myset.add(1)

In [70]:
myset

{1, 2}

In [69]:
myset.add(2)

In [71]:
mynewset = set(1,2,3)

TypeError: set expected at most 1 arguments, got 3

In [72]:
mylist = [1,3,4,456,2,23,1,2,2,2
        ]

In [73]:
mylist

[1, 3, 4, 456, 2, 23, 1, 2, 2, 2]

In [74]:
set(mylist)

{1, 2, 3, 4, 23, 456}

In [75]:
TRUE

NameError: name 'TRUE' is not defined

In [76]:
True

True

In [77]:
type(True)

bool

In [78]:
hey = True

In [79]:
hey

True

In [80]:
type(hey)

bool

In [81]:
hey = None

In [82]:
hey

In [83]:
type(hey)

NoneType

In [84]:
first_col = [row[0] for row in matrix]

NameError: name 'matrix' is not defined

In [18]:
%%writefile sweetfile.txt
Hello this is kid.
I am an awesome person.
I can do anything I want which is pretty awesome too.

Overwriting sweetfile.txt

In [19]:
myfile = open('sweetfile.txt')

In [20]:
pwd

'C:\\Users\\Phone Thiri Yadana\\Documents\\02.Studies\\Python\\Exercises\\Udemy - Complete Python Bootcamp - JP'

In [21]:
myfile.read()

'Hello this is kid.\nI am an awesome person.\nI can do anything I want which is pretty awesome too.\n'

In [23]:
myfile.readline()

''

In [24]:
myfile.readlines()

[]

In [25]:
myfile.read()

''

In [26]:
myfile.seek(0)

0

In [27]:
myfile.read()

'Hello this is kid.\nI am an awesome person.\nI can do anything I want which is pretty awesome too.\n'

In [28]:
myfile.readline()

''

In [29]:
myfile.close()

In [30]:
myfile

In [98]:
type(myfile)

_io.TextIOWrapper

In [31]:
with open('sweetfile.txt') as newfile:

SyntaxError: unexpected EOF while parsing (<ipython-input-31-2888e1866c97>, line 1)

In [33]:
with open('sweetfile.txt') as newfile:
    contents = newfile.read()

In [34]:
contents

'Hello this is kid.\nI am an awesome person.\nI can do anything I want which is pretty awesome too.\n'

In [35]:
with open('sweetfile.txt') as f:
    print(f.read())

Hello this is kid.
I am an awesome person.
I can do anything I want which is pretty awesome too.

In [39]:
with open('sweetfile.txt',mode='a' ) as f:
    f.write('Super cute too')

In [40]:
with open('sweetfile.txt') as f:
    print(f.read())

Hello this is kid.
I am an awesome person.
I can do anything I want which is pretty awesome too.
Super cute tooSuper cute tooSuper cute too

In [41]:
with open('newfile.txt', mode='w') as f:
    f.write('Hi I am new file')

In [42]:
with open('newfile.txt', mode='r') as f:
    print(f.read())

Hi I am new file

In [110]:
5**2 * 1 / 25 + 200 - 100.75

100.25

In [111]:
answer = 3 + 1.5 + 4

In [112]:
type(answer
    )

float

In [113]:
100**0.5

10.0

In [114]:
100**2

10000

In [115]:
'hello' == 'bye'

False

In [116]:
'A' == 'a'

False

In [117]:
1.0 == 1

True

In [120]:
loc = 'tree'
if loc == 'store':
    print('buy me some banana')
elif loc == 'bank':
    print('bring me some notes')
else: print('nothing to do')

nothing to do

In [121]:
mylist = ['A','B','C','D']
for item in mylist:
    print(item)

A
B
C
D

In [123]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'this is odd number {num}')

this is odd number 1
2
this is odd number 3
4
this is odd number 5
6
this is odd number 7
8
this is odd number 9
10

In [129]:
mylist = [(1,2,),(3,4,),(5,6)]
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6

In [136]:
d = {'key1':'v1', 'key2':'v2'}
for key,value in d.items():
    print (key)
    print(value)

key1
v1
key2
v2

In [141]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x+=1
else:
    print('x is not less than 5.')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5.

In [143]:
x = [1,2,3,4,5]

for item in x:
    #comment
    pass

In [144]:
x = 'SAMMY'

for item in x:
    print(item)

S
A
M
M
Y

In [145]:
x = 'SAMMY'

for item in x:
    if item == 'A':
        continue
    print(item)

S
M
M
Y

In [146]:
x = 'SAMMY'

for item in x:
    if item == 'A':
        break
    print(item)

S

In [148]:
mylist = [1,2,3,4]

for item in range(1,10,2):
    print(item)

1
3
5
7
9

In [149]:
range(0,10,2)

range(0, 10, 2)

In [150]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [155]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter + '\n')

0
a

1
b

2
c

3
d

4
e

In [156]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e']
list3 = [100,200,300,400,500]

for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [157]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [158]:
'x' in ['x','y','z']

True

In [159]:
from random import shuffle

In [160]:
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)

In [161]:
mylist

[10, 3, 6, 1, 8, 9, 4, 2, 7, 5]

In [174]:
x = input('Enter a number:')

Enter a number:1999

In [175]:
x

'1999'

In [176]:
type(x)

str

In [179]:
float(x)

1999.0

In [180]:
mystring = 'hello'
mylist = [x for x in mystring]

In [181]:
mylist

['h', 'e', 'l', 'l', 'o']

In [183]:
mylist = [num**2 for num in range(0,10)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [184]:
mylist = [num for num in range(0,10) if num%2==0]
mylist

[0, 2, 4, 6, 8]

In [185]:
mylist = [num*0.1 for num in range(100,200,10)]
mylist

[10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0]

In [197]:
def addFive(x):
    if type(x) != int and type(x) !=float:
        print('not integer.')
    else:
        print(x+5)

In [191]:
addFive(10)

15

In [198]:
addFive(21342.2)

21347.2

In [199]:
addFive('skd')

not integer.

In [201]:
import calendar

In [204]:
cal = calendar.month(2020,2)

In [205]:
print(cal)

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

In [206]:
def minimum(x,y):
    if x < y:
        return x
    else:
        return y

In [215]:
x = input("enter num1:")
y = input("enter num2:")
smallerNum = minimum(x,y)
print(minimum(x,y))
print(f"the smaller number is {smallerNum}")

enter num1:467567
enter num2:34565675
34565675
the smaller number is 34565675

In [209]:
print(minimum(6,456))

6

In [216]:
word = "sakdfjsaif43rknkvssitruqeqwpe"
vowels = ['a','e','i','o','u']

count = 0
for w in word:
    if w in vowels:
        count +=1

print(f"total number of vowels {count} ")

total number of vowels 7

In [220]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [222]:
print(factorial(4))

24

In [19]:
mylist = ['A','B','C','D','E']

In [10]:
print(mylist)

['A', 'B', 'C', 'D', 'E']

In [11]:
mylist.append('X')

In [12]:
print(mylist)

['A', 'B', 'C', 'D', 'E', 'X']

In [13]:
mylist.remove('B')

In [14]:
print(mylist)

['A', 'C', 'D', 'E', 'X']

In [15]:
del mylist[1]

In [20]:
print(mylist)

['A', 'B', 'C', 'D', 'E']

In [21]:
mylist.pop()
print(mylist)

['A', 'B', 'C', 'D']

In [23]:
mylist.insert(1,'Z')

In [25]:
print(mylist)

['A', 'Z', 'B', 'C', 'D']

In [3]:
lst = [x for x in 'HELLO']
print (lst)

['H', 'E', 'L', 'L', 'O']

In [4]:
mylist = [1,2,3,4]

In [5]:
list2 = mylist.copy()
print(list2)

[1, 2, 3, 4]

In [6]:
help(mylist.copy())

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [44]:
hello

NameError: name 'hello' is not defined

In [45]:
hello()

NameError: name 'hello' is not defined

In [46]:
def hello(name):
  
    print('hello ' + name + '. have a nice day !!!')

In [50]:
hello('kid')

hello kid. have a nice day !!!

In [27]:
def add(n1,n2):
    return n1+n2

add(1,3)

In [28]:
add(1,3)

4

In [38]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [39]:
dog_check('askdjDogkjaksdf')

True

In [50]:
def pigLatin(s):
    if s[0].lower() in 'aeiou':
        return s + 'ay'
    else:
        mystring = s[1:]
        return mystring + s[0] + 'ay'

In [51]:
print(pigLatin('word'))

ordway

In [66]:
def is_prime(num):
    for n in range(2,num):
        if num%n == 0:
            print(num,'is no prime!')
            break
    else:
        print(num,' is prime number')

In [70]:
is_prime(5)

5  is prime number

In [71]:
def myfunc(*args):
    print(args)

In [72]:
myfunc(1,3,6,7)

(1, 3, 6, 7)

In [73]:
def myfunc(*args):
    return sum(args)*0.05

In [74]:
myfunc(100,400)

25.0

In [75]:
myfunc(1000,4000,5000)

500.0

In [78]:
def myfun(**kwargs):
    print(kwargs)

In [79]:
myfun(fruit='apple', vegetable='lettuce')

{'fruit': 'apple', 'vegetable': 'lettuce'}

In [80]:
def myfun(**kwargs):
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('There is nothing which are my favourite.')

In [81]:
myfun(fruit='apple',vegetable='lettuce')

my fruit of choice is apple

In [82]:
def myfun(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I like to have {} {}'.format(args[0],kwargs['food']))

In [83]:
myfun(10,20,30,40,50,animal='dog',vegetable='lettuce',food='eggs')

(10, 20, 30, 40, 50)
{'animal': 'dog', 'vegetable': 'lettuce', 'food': 'eggs'}
I like to have 10 eggs

In [84]:
def square(num):
    return num**2

In [87]:
list(map(square,[1,2,3,4]))

[1, 4, 9, 16]

In [89]:
def slicer(myString):
    if(len(myString)%2 == 0):
        return 'EVEN'
    else:
        return myString[0]

In [90]:
list(map(slicer,['Sally','Eve','Joey']))

['S', 'E', 'EVEN']

In [91]:
def even_checker(num):
    return num % 2 == 0

In [92]:
list(filter(even_checker,[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

lambda

In [95]:
list(map(lambda num: num**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [98]:
list(filter(lambda num: num%2 ==0, [1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

udacity exercises

# Udacity exercises

In [10]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

for key,value in cast.items():
    print(f"Actor is {key} and Role is {value}")

Actor is Jerry Seinfeld and Role is Jerry Seinfeld
Actor is Julia Louis-Dreyfus and Role is Elaine Benes
Actor is Jason Alexander and Role is George Costanza
Actor is Michael Richards and Role is Cosmo Kramer

In [17]:
#counting fruits items

# You would like to count the number of fruits in your basket. 
# In order to do this, you have the following dictionary and list of
# fruits.  Use the dictionary and list to count the total number
# of fruits, but you do not want to count the other items in your basket.

result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for key,value in basket_items.items():
    if key in fruits:
        result+=value
        
#if the key is in the list of fruits, add the value (number of fruits) to result
print(f'number of fruits in the basket: {result} ')

number of fruits in the basket: 23

In [18]:
# You would like to count the number of fruits in your basket. 
# In order to do this, you have the following dictionary and list of
# fruits.  Use the dictionary and list to count the total number
# of fruits and not_fruits.

fruit_count, not_fruit_count = 0, 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
#if the key is in the list of fruits, add to fruit_count.
#if the key is not in the list, then add to the not_fruit_count
for key,value in basket_items.items():
    if key in fruits:
        fruit_count+=value
    else:
        not_fruit_count+=value

print(fruit_count, not_fruit_count)

23 11

In [20]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# track the current number being multiplied
current = 1

# write your while loop here
    # multiply the product so far by the current number 
    # increment current with each iteration until it reaches number
while current <= number:
    product *= current
    current+=1
    

# print the factorial of number
print(product)

720

In [22]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# write your for loop here
for num in range(2,number+1):
    product *= num


# print the factorial of number
print(product)

720

In [24]:
start_num = 1
end_num = 10
count_by = 1
break_num = start_num
# write a while loop that uses break_num as the ongoing number to 
#   check against end_num
while (break_num < end_num):
        print(break_num)
        break_num += count_by

print(break_num)

1
2
3
4
5
6
7
8
9
10

In [28]:
limit = 40

nearest_square = 1
num = 1

# write your while loop here
while num**2 <= limit:
    nearest_square = num**2
    num+=1

print(nearest_square)

36

In [45]:
# HINT: modify the headlines list to verify your loop works with different inputs
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""
# write your loop here
for headline in headlines:
    news_ticker += headline + " "
    if len(news_ticker) >= 140:
        news_ticker = news_ticker[:140]
        break
print(news_ticker)
print(len(news_ticker))

Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave
140

In [49]:
check_prime = [3,26, 39, 51, 53, 57, 79, 85]

# iterate through the check_prime list
for num in check_prime:

# search for factors, iterating through numbers ranging from 2 to the number itself
    for i in range(2, num):
# number is not prime if modulo is 0
        if (num % i) == 0:
            print("{} is NOT a prime number, because {} is a factor of {}".format(num, i, num))
            break

# otherwise keep checking until we've searched all possible factors, and then declare it prime
        if i == num -1:    
            print("{} IS a prime number".format(num))

3 IS a prime number
26 is NOT a prime number, because 2 is a factor of 26
39 is NOT a prime number, because 3 is a factor of 39
51 is NOT a prime number, because 3 is a factor of 51
53 IS a prime number
57 is NOT a prime number, because 3 is a factor of 57
79 IS a prime number
85 is NOT a prime number, because 5 is a factor of 85

In [59]:
list1 = ['apple','orange','banana']
list2 = [10,20,30]

fruitPack = list(zip(list1,list2))
print(fruitPack)

fruit,quantity = zip(*fruitPack)
print(fruit)
print(quantity)

[('apple', 10), ('orange', 20), ('banana', 30)]
('apple', 'orange', 'banana')
(10, 20, 30)

In [60]:
letters = ['a', 'b', 'c', 'd', 'e']
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d
4 e

In [87]:
#label: x, y, z

x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here
for point in zip(labels,x_coord,y_coord,z_coord):
    points.append("{}: {}, {}, {}".format(*point))


for point in points:
    print(point)

F: 23 , 677 , 4
J: 53 , 233 , 16
A: 2 , 405 , -6
Q: -12 , 433 , -42
Y: 95 , 905 , 3
B: 103 , 376 , -6
W: 14 , 432 , 23
X: -5 , 445 , -1

In [88]:
#Use zip to create a dictionary cast that uses names as keys and heights as values.
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names,cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [91]:
#Unzip the cast tuple into two names and heights tuples.

cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))

# define names and heights here
names, heights = zip (*cast)

print(names)
print(heights)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(72, 68, 72, 66, 76)

In [97]:
#Use zip to transpose data from a 4-by-3 matrix to a 3-by-4 matrix. 
#There's actually a cool trick for this! Feel free to look at the solutions if you can't figure it out.

data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

data_transpose = tuple(zip(*data))
print(data_transpose)

((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

In [100]:
#Use enumerate to modify the cast list so that each element contains the name followed by 
#the character's corresponding height. For example, the first element of cast should 
#change from "Barney Stinson" to "Barney Stinson 72".

cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# write your for loop here
for index,name in enumerate(cast):
    cast[index] = name + ' ' + str(heights[index])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

In [102]:
#list comprehension
squareList = [num**2 for num in range(0,9)]
print(squareList)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [105]:
def evenChecker(num):
    return num%2 == 0

even_squareList = list(filter(evenChecker,[1,2,3,4,5,6,7,8,9,10]))
print(even_squareList)

[2, 4, 6, 8, 10]

In [106]:
#Use a list comprehension to create a new list first_names containing just the first names in names in lowercase.

names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [item.split()[0].lower() for item in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [108]:
#Use a list comprehension to create a list multiples_3 containing the first 20 multiples of 3.

multiples_3 = [item*3 for item in range(1,21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [113]:
#Use a list comprehension to create a list of names passed that only include those that scored at least 65.

scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [name for name,score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [116]:
ourlist = [1,2,3]
a, b, c = ourlist
print('{} , {}, {}'.format(a,b,c))

1 , 2, 3

In [121]:
all_true = [True, True, 1, 'hello']
any_true = [0, False, True, '', []]

print(any(all_true))
print(all(any_true))

True
False

In [131]:
#A. Create a dictionary that includes the count of Oscar nominations for each director in the nominations list.
#B. Provide a dictionary with the count of Oscar wins for each director in the winners list.

nominated = {1931: ['Norman Taurog', 'Wesley Ruggles', 'Clarence Brown', 'Lewis Milestone', 'Josef Von Sternberg'], 1932: ['Frank Borzage', 'King Vidor', 'Josef Von Sternberg'], 1933: ['Frank Lloyd', 'Frank Capra', 'George Cukor'], 1934: ['Frank Capra', 'Victor Schertzinger', 'W. S. Van Dyke'], 1935: ['John Ford', 'Michael Curtiz', 'Henry Hathaway', 'Frank Lloyd'], 1936: ['Frank Capra', 'William Wyler', 'Robert Z. Leonard', 'Gregory La Cava', 'W. S. Van Dyke'], 1937: ['Leo McCarey', 'Sidney Franklin', 'William Dieterle', 'Gregory La Cava', 'William Wellman'], 1938: ['Frank Capra', 'Michael Curtiz', 'Norman Taurog', 'King Vidor', 'Michael Curtiz'], 1939: ['Sam Wood', 'Frank Capra', 'John Ford', 'William Wyler', 'Victor Fleming'], 1940: ['John Ford', 'Sam Wood', 'William Wyler', 'George Cukor', 'Alfred Hitchcock'], 1941: ['John Ford', 'Orson Welles', 'Alexander Hall', 'William Wyler', 'Howard Hawks'], 1942: ['Sam Wood', 'Mervyn LeRoy', 'John Farrow', 'Michael Curtiz', 'William Wyler'], 1943: ['Michael Curtiz', 'Ernst Lubitsch', 'Clarence Brown', 'George Stevens', 'Henry King'], 1944: ['Leo McCarey', 'Billy Wilder', 'Otto Preminger', 'Alfred Hitchcock', 'Henry King'], 1945: ['Billy Wilder', 'Leo McCarey', 'Clarence Brown', 'Jean Renoir', 'Alfred Hitchcock'], 1946: ['David Lean', 'Frank Capra', 'Robert Siodmak', 'Clarence Brown', 'William Wyler'], 1947: ['Elia Kazan', 'Henry Koster', 'Edward Dmytryk', 'George Cukor', 'David Lean'], 1948: ['John Huston', 'Laurence Olivier', 'Jean Negulesco', 'Fred Zinnemann', 'Anatole Litvak'], 1949: ['Joseph L. Mankiewicz', 'Robert Rossen', 'William A. Wellman', 'Carol Reed', 'William Wyler'], 1950: ['Joseph L. Mankiewicz', 'John Huston', 'George Cukor', 'Billy Wilder', 'Carol Reed'], 1951: ['George Stevens', 'John Huston', 'Vincente Minnelli', 'William Wyler', 'Elia Kazan'], 1952: ['John Ford', 'Joseph L. Mankiewicz', 'Cecil B. DeMille', 'Fred Zinnemann', 'John Huston'], 1953: ['Fred Zinnemann', 'Charles Walters', 'William Wyler', 'George Stevens', 'Billy Wilder'], 1954: ['Elia Kazan', 'George Seaton', 'William Wellman', 'Alfred Hitchcock', 'Billy Wilder'], 1955: ['Delbert Mann', 'John Sturges', 'Elia Kazan', 'Joshua Logan', 'David Lean'], 1956: ['George Stevens', 'Michael Anderson', 'William Wyler', 'Walter Lang', 'King Vidor'], 1957: ['David Lean', 'Mark Robson', 'Joshua Logan', 'Sidney Lumet', 'Billy Wilder'], 1958: ['Richard Brooks', 'Stanley Kramer', 'Robert Wise', 'Mark Robson', 'Vincente Minnelli'], 1959: ['George Stevens', 'Fred Zinnemann', 'Jack Clayton', 'Billy Wilder', 'William Wyler'], 1960: ['Billy Wilder', 'Jules Dassin', 'Alfred Hitchcock', 'Jack Cardiff', 'Fred Zinnemann'], 1961: ['J. Lee Thompson', 'Robert Rossen', 'Stanley Kramer', 'Federico Fellini', 'Robert Wise', 'Jerome Robbins'], 1962: ['David Lean', 'Frank Perry', 'Pietro Germi', 'Arthur Penn', 'Robert Mulligan'], 1963: ['Elia Kazan', 'Otto Preminger', 'Federico Fellini', 'Martin Ritt', 'Tony Richardson'], 1964: ['George Cukor', 'Peter Glenville', 'Stanley Kubrick', 'Robert Stevenson', 'Michael Cacoyannis'], 1965: ['William Wyler', 'John Schlesinger', 'David Lean', 'Hiroshi Teshigahara', 'Robert Wise'], 1966: ['Fred Zinnemann', 'Michelangelo Antonioni', 'Claude Lelouch', 'Richard Brooks', 'Mike Nichols'], 1967: ['Arthur Penn', 'Stanley Kramer', 'Richard Brooks', 'Norman Jewison', 'Mike Nichols'], 1968: ['Carol Reed', 'Gillo Pontecorvo', 'Anthony Harvey', 'Franco Zeffirelli', 'Stanley Kubrick'], 1969: ['John Schlesinger', 'Arthur Penn', 'George Roy Hill', 'Sydney Pollack', 'Costa-Gavras'], 1970: ['Franklin J. Schaffner', 'Federico Fellini', 'Arthur Hiller', 'Robert Altman', 'Ken Russell'], 1971: ['Stanley Kubrick', 'Norman Jewison', 'Peter Bogdanovich', 'John Schlesinger', 'William Friedkin'], 1972: ['Bob Fosse', 'John Boorman', 'Jan Troell', 'Francis Ford Coppola', 'Joseph L. Mankiewicz'], 1973: ['George Roy Hill', 'George Lucas', 'Ingmar Bergman', 'William Friedkin', 'Bernardo Bertolucci'], 1974: ['Francis Ford Coppola', 'Roman Polanski', 'Francois Truffaut', 'Bob Fosse', 'John Cassavetes'], 1975: ['Federico Fellini', 'Stanley Kubrick', 'Sidney Lumet', 'Robert Altman', 'Milos Forman'], 1976: ['Alan J. Pakula', 'Ingmar Bergman', 'Sidney Lumet', 'Lina Wertmuller', 'John G. Avildsen'], 1977: ['Steven Spielberg', 'Fred Zinnemann', 'George Lucas', 'Herbert Ross', 'Woody Allen'], 1978: ['Hal Ashby', 'Warren Beatty', 'Buck Henry', 'Woody Allen', 'Alan Parker', 'Michael Cimino'], 1979: ['Bob Fosse', 'Francis Coppola', 'Peter Yates', 'Edouard Molinaro', 'Robert Benton'], 1980: ['David Lynch', 'Martin Scorsese', 'Richard Rush', 'Roman Polanski', 'Robert Redford'], 1981: ['Louis Malle', 'Hugh Hudson', 'Mark Rydell', 'Steven Spielberg', 'Warren Beatty'], 1982: ['Wolfgang Petersen', 'Steven Spielberg', 'Sydney Pollack', 'Sidney Lumet', 'Richard Attenborough'], 1983: ['Peter Yates', 'Ingmar Bergman', 'Mike Nichols', 'Bruce Beresford', 'James L. Brooks'], 1984: ['Woody Allen', 'Roland Joffe', 'David Lean', 'Robert Benton', 'Milos Forman'], 1985: ['Hector Babenco', 'John Huston', 'Akira Kurosawa', 'Peter Weir', 'Sydney Pollack'], 1986: ['David Lynch', 'Woody Allen', 'Roland Joffe', 'James Ivory', 'Oliver Stone'], 1987: ['Bernardo Bertolucci', 'Adrian Lyne', 'John Boorman', 'Norman Jewison', 'Lasse Hallstrom'], 1988: ['Barry Levinson', 'Charles Crichton', 'Martin Scorsese', 'Alan Parker', 'Mike Nichols'], 1989: ['Woody Allen', 'Peter Weir', 'Kenneth Branagh', 'Jim Sheridan', 'Oliver Stone'], 1990: ['Francis Ford Coppola', 'Martin Scorsese', 'Stephen Frears', 'Barbet Schroeder', 'Kevin Costner'], 1991: ['John Singleton', 'Barry Levinson', 'Oliver Stone', 'Ridley Scott', 'Jonathan Demme'], 1992: ['Clint Eastwood', 'Neil Jordan', 'James Ivory', 'Robert Altman', 'Martin Brest'], 1993: ['Jim Sheridan', 'Jane Campion', 'James Ivory', 'Robert Altman', 'Steven Spielberg'], 1994: ['Woody Allen', 'Quentin Tarantino', 'Robert Redford', 'Krzysztof Kieslowski', 'Robert Zemeckis'], 1995: ['Chris Noonan', 'Tim Robbins', 'Mike Figgis', 'Michael Radford', 'Mel Gibson'], 1996: ['Anthony Minghella', 'Joel Coen', 'Milos Forman', 'Mike Leigh', 'Scott Hicks'], 1997: ['Peter Cattaneo', 'Gus Van Sant', 'Curtis Hanson', 'Atom Egoyan', 'James Cameron'], 1998: ['Roberto Benigni', 'John Madden', 'Terrence Malick', 'Peter Weir', 'Steven Spielberg'], 1999: ['Spike Jonze', 'Lasse Hallstrom', 'Michael Mann', 'M. Night Shyamalan', 'Sam Mendes'], 2000: ['Stephen Daldry', 'Ang Lee', 'Steven Soderbergh', 'Ridley Scott', 'Steven Soderbergh'], 2001: ['Ridley Scott', 'Robert Altman', 'Peter Jackson', 'David Lynch', 'Ron Howard'], 2002: ['Rob Marshall', 'Martin Scorsese', 'Stephen Daldry', 'Pedro Almodovar', 'Roman Polanski'], 2003: ['Fernando Meirelles', 'Sofia Coppola', 'Peter Weir', 'Clint Eastwood', 'Peter Jackson'], 2004: ['Martin Scorsese', 'Taylor Hackford', 'Alexander Payne', 'Mike Leigh', 'Clint Eastwood'], 2005: ['Ang Lee', 'Bennett Miller', 'Paul Haggis', 'George Clooney', 'Steven Spielberg'], 2006: ['Alejandro Gonzaalez Inarritu', 'Clint Eastwood', 'Stephen Frears', 'Paul Greengrass', 'Martin Scorsese'], 2007: ['Julian Schnabel', 'Jason Reitman', 'Tony Gilroy', 'Paul Thomas Anderson', 'Joel Coen', 'Ethan Coen'], 2008: ['David Fincher', 'Ron Howard', 'Gus Van Sant', 'Stephen Daldry', 'Danny Boyle'], 2009: ['James Cameron', 'Quentin Tarantino', 'Lee Daniels', 'Jason Reitman', 'Kathryn Bigelow'], 2010: ['Darren Aronofsky', 'David O. Russell', 'David Fincher', 'Ethan Coen', 'Joel Coen', 'Tom Hooper']}
winners = {1931: ['Norman Taurog'], 1932: ['Frank Borzage'], 1933: ['Frank Lloyd'], 1934: ['Frank Capra'], 1935: ['John Ford'], 1936: ['Frank Capra'], 1937: ['Leo McCarey'], 1938: ['Frank Capra'], 1939: ['Victor Fleming'], 1940: ['John Ford'], 1941: ['John Ford'], 1942: ['William Wyler'], 1943: ['Michael Curtiz'], 1944: ['Leo McCarey'], 1945: ['Billy Wilder'], 1946: ['William Wyler'], 1947: ['Elia Kazan'], 1948: ['John Huston'], 1949: ['Joseph L. Mankiewicz'], 1950: ['Joseph L. Mankiewicz'], 1951: ['George Stevens'], 1952: ['John Ford'], 1953: ['Fred Zinnemann'], 1954: ['Elia Kazan'], 1955: ['Delbert Mann'], 1956: ['George Stevens'], 1957: ['David Lean'], 1958: ['Vincente Minnelli'], 1959: ['William Wyler'], 1960: ['Billy Wilder'], 1961: ['Jerome Robbins', 'Robert Wise'], 1962: ['David Lean'], 1963: ['Tony Richardson'], 1964: ['George Cukor'], 1965: ['Robert Wise'], 1966: ['Fred Zinnemann'], 1967: ['Mike Nichols'], 1968: ['Carol Reed'], 1969: ['John Schlesinger'], 1970: ['Franklin J. Schaffner'], 1971: ['William Friedkin'], 1972: ['Bob Fosse'], 1973: ['George Roy Hill'], 1974: ['Francis Ford Coppola'], 1975: ['Milos Forman'], 1976: ['John G. Avildsen'], 1977: ['Woody Allen'], 1978: ['Michael Cimino'], 1979: ['Robert Benton'], 1980: ['Robert Redford'], 1981: ['Warren Beatty'], 1982: ['Richard Attenborough'], 1983: ['James L. Brooks'], 1984: ['Milos Forman'], 1985: ['Sydney Pollack'], 1986: ['Oliver Stone'], 1987: ['Bernardo Bertolucci'], 1988: ['Barry Levinson'], 1989: ['Oliver Stone'], 1990: ['Kevin Costner'], 1991: ['Jonathan Demme'], 1992: ['Clint Eastwood'], 1993: ['Steven Spielberg'], 1994: ['Robert Zemeckis'], 1995: ['Mel Gibson'], 1996: ['Anthony Minghella'], 1997: ['James Cameron'], 1998: ['Steven Spielberg'], 1999: ['Sam Mendes'], 2000: ['Steven Soderbergh'], 2001: ['Ron Howard'], 2002: ['Roman Polanski'], 2003: ['Peter Jackson'], 2004: ['Clint Eastwood'], 2005: ['Ang Lee'], 2006: ['Martin Scorsese'], 2007: ['Ethan Coen', 'Joel Coen'], 2008: ['Danny Boyle'], 2009: ['Kathryn Bigelow'], 2010: ['Tom Hooper']}

### 1A: Create dictionary with the count of Oscar nominations for each director 
nom_count_dict = {}

# Add your code here
for personList in nominated.values():
    for person in personList:
        if person in nom_count_dict:
            nom_count_dict[person] += 1
        else:
            nom_count_dict[person] = 1

print("nom_count_dict = {}\n".format(nom_count_dict))


### 1B: Create dictionary with the count of Oscar wins for each director
win_count_dict = {}
# Add your code here
for personList in winners.values():
    for person in personList:
        if person in win_count_dict:
            win_count_dict[person] +=1
        else:
            win_count_dict[person] = 1
            
print("win_count_dict = {}".format(win_count_dict))

nom_count_dict = {'Norman Taurog': 2, 'Wesley Ruggles': 1, 'Clarence Brown': 4, 'Lewis Milestone': 1, 'Josef Von Sternberg': 2, 'Frank Borzage': 1, 'King Vidor': 3, 'Frank Lloyd': 2, 'Frank Capra': 6, 'George Cukor': 5, 'Victor Schertzinger': 1, 'W. S. Van Dyke': 2, 'John Ford': 5, 'Michael Curtiz': 5, 'Henry Hathaway': 1, 'William Wyler': 12, 'Robert Z. Leonard': 1, 'Gregory La Cava': 2, 'Leo McCarey': 3, 'Sidney Franklin': 1, 'William Dieterle': 1, 'William Wellman': 2, 'Sam Wood': 3, 'Victor Fleming': 1, 'Alfred Hitchcock': 5, 'Orson Welles': 1, 'Alexander Hall': 1, 'Howard Hawks': 1, 'Mervyn LeRoy': 1, 'John Farrow': 1, 'Ernst Lubitsch': 1, 'George Stevens': 5, 'Henry King': 2, 'Billy Wilder': 8, 'Otto Preminger': 2, 'Jean Renoir': 1, 'David Lean': 7, 'Robert Siodmak': 1, 'Elia Kazan': 5, 'Henry Koster': 1, 'Edward Dmytryk': 1, 'John Huston': 5, 'Laurence Olivier': 1, 'Jean Negulesco': 1, 'Fred Zinnemann': 7, 'Anatole Litvak': 1, 'Joseph L. Mankiewicz': 4, 'Robert Rossen': 2, 'William A. Wellman': 1, 'Carol Reed': 3, 'Vincente Minnelli': 2, 'Cecil B. DeMille': 1, 'Charles Walters': 1, 'George Seaton': 1, 'Delbert Mann': 1, 'John Sturges': 1, 'Joshua Logan': 2, 'Michael Anderson': 1, 'Walter Lang': 1, 'Mark Robson': 2, 'Sidney Lumet': 4, 'Richard Brooks': 3, 'Stanley Kramer': 3, 'Robert Wise': 3, 'Jack Clayton': 1, 'Jules Dassin': 1, 'Jack Cardiff': 1, 'J. Lee Thompson': 1, 'Federico Fellini': 4, 'Jerome Robbins': 1, 'Frank Perry': 1, 'Pietro Germi': 1, 'Arthur Penn': 3, 'Robert Mulligan': 1, 'Martin Ritt': 1, 'Tony Richardson': 1, 'Peter Glenville': 1, 'Stanley Kubrick': 4, 'Robert Stevenson': 1, 'Michael Cacoyannis': 1, 'John Schlesinger': 3, 'Hiroshi Teshigahara': 1, 'Michelangelo Antonioni': 1, 'Claude Lelouch': 1, 'Mike Nichols': 4, 'Norman Jewison': 3, 'Gillo Pontecorvo': 1, 'Anthony Harvey': 1, 'Franco Zeffirelli': 1, 'George Roy Hill': 2, 'Sydney Pollack': 3, 'Costa-Gavras': 1, 'Franklin J. Schaffner': 1, 'Arthur Hiller': 1, 'Robert Altman': 5, 'Ken Russell': 1, 'Peter Bogdanovich': 1, 'William Friedkin': 2, 'Bob Fosse': 3, 'John Boorman': 2, 'Jan Troell': 1, 'Francis Ford Coppola': 3, 'George Lucas': 2, 'Ingmar Bergman': 3, 'Bernardo Bertolucci': 2, 'Roman Polanski': 3, 'Francois Truffaut': 1, 'John Cassavetes': 1, 'Milos Forman': 3, 'Alan J. Pakula': 1, 'Lina Wertmuller': 1, 'John G. Avildsen': 1, 'Steven Spielberg': 6, 'Herbert Ross': 1, 'Woody Allen': 6, 'Hal Ashby': 1, 'Warren Beatty': 2, 'Buck Henry': 1, 'Alan Parker': 2, 'Michael Cimino': 1, 'Francis Coppola': 1, 'Peter Yates': 2, 'Edouard Molinaro': 1, 'Robert Benton': 2, 'David Lynch': 3, 'Martin Scorsese': 6, 'Richard Rush': 1, 'Robert Redford': 2, 'Louis Malle': 1, 'Hugh Hudson': 1, 'Mark Rydell': 1, 'Wolfgang Petersen': 1, 'Richard Attenborough': 1, 'Bruce Beresford': 1, 'James L. Brooks': 1, 'Roland Joffe': 2, 'Hector Babenco': 1, 'Akira Kurosawa': 1, 'Peter Weir': 4, 'James Ivory': 3, 'Oliver Stone': 3, 'Adrian Lyne': 1, 'Lasse Hallstrom': 2, 'Barry Levinson': 2, 'Charles Crichton': 1, 'Kenneth Branagh': 1, 'Jim Sheridan': 2, 'Stephen Frears': 2, 'Barbet Schroeder': 1, 'Kevin Costner': 1, 'John Singleton': 1, 'Ridley Scott': 3, 'Jonathan Demme': 1, 'Clint Eastwood': 4, 'Neil Jordan': 1, 'Martin Brest': 1, 'Jane Campion': 1, 'Quentin Tarantino': 2, 'Krzysztof Kieslowski': 1, 'Robert Zemeckis': 1, 'Chris Noonan': 1, 'Tim Robbins': 1, 'Mike Figgis': 1, 'Michael Radford': 1, 'Mel Gibson': 1, 'Anthony Minghella': 1, 'Joel Coen': 3, 'Mike Leigh': 2, 'Scott Hicks': 1, 'Peter Cattaneo': 1, 'Gus Van Sant': 2, 'Curtis Hanson': 1, 'Atom Egoyan': 1, 'James Cameron': 2, 'Roberto Benigni': 1, 'John Madden': 1, 'Terrence Malick': 1, 'Spike Jonze': 1, 'Michael Mann': 1, 'M. Night Shyamalan': 1, 'Sam Mendes': 1, 'Stephen Daldry': 3, 'Ang Lee': 2, 'Steven Soderbergh': 2, 'Peter Jackson': 2, 'Ron Howard': 2, 'Rob Marshall': 1, 'Pedro Almodovar': 1, 'Fernando Meirelles': 1, 'Sofia Coppola': 1, 'Taylor Hackford': 1, 'Alexander Payne': 1, 'Bennett Miller': 1, 'Paul Haggis': 1, 'George Clooney': 1, 'Alejandro Gonzaalez Inarritu': 1, 'Paul Greengrass': 1, 'Julian Schnabel': 1, 'Jason Reitman': 2, 'Tony Gilroy': 1, 'Paul Thomas Anderson': 1, 'Ethan Coen': 2, 'David Fincher': 2, 'Danny Boyle': 1, 'Lee Daniels': 1, 'Kathryn Bigelow': 1, 'Darren Aronofsky': 1, 'David O. Russell': 1, 'Tom Hooper': 1}

win_count_dict = {'Norman Taurog': 1, 'Frank Borzage': 1, 'Frank Lloyd': 1, 'Frank Capra': 3, 'John Ford': 4, 'Leo McCarey': 2, 'Victor Fleming': 1, 'William Wyler': 3, 'Michael Curtiz': 1, 'Billy Wilder': 2, 'Elia Kazan': 2, 'John Huston': 1, 'Joseph L. Mankiewicz': 2, 'George Stevens': 2, 'Fred Zinnemann': 2, 'Delbert Mann': 1, 'David Lean': 2, 'Vincente Minnelli': 1, 'Jerome Robbins': 1, 'Robert Wise': 2, 'Tony Richardson': 1, 'George Cukor': 1, 'Mike Nichols': 1, 'Carol Reed': 1, 'John Schlesinger': 1, 'Franklin J. Schaffner': 1, 'William Friedkin': 1, 'Bob Fosse': 1, 'George Roy Hill': 1, 'Francis Ford Coppola': 1, 'Milos Forman': 2, 'John G. Avildsen': 1, 'Woody Allen': 1, 'Michael Cimino': 1, 'Robert Benton': 1, 'Robert Redford': 1, 'Warren Beatty': 1, 'Richard Attenborough': 1, 'James L. Brooks': 1, 'Sydney Pollack': 1, 'Oliver Stone': 2, 'Bernardo Bertolucci': 1, 'Barry Levinson': 1, 'Kevin Costner': 1, 'Jonathan Demme': 1, 'Clint Eastwood': 2, 'Steven Spielberg': 2, 'Robert Zemeckis': 1, 'Mel Gibson': 1, 'Anthony Minghella': 1, 'James Cameron': 1, 'Sam Mendes': 1, 'Steven Soderbergh': 1, 'Ron Howard': 1, 'Roman Polanski': 1, 'Peter Jackson': 1, 'Ang Lee': 1, 'Martin Scorsese': 1, 'Ethan Coen': 1, 'Joel Coen': 1, 'Danny Boyle': 1, 'Kathryn Bigelow': 1, 'Tom Hooper': 1}

In [11]:
#Provide a list with the name(s) of the director(s) with the most Oscar wins. 
#We are asking for a list because there could be more than 1 director tied for the most Oscar wins.

winners = {1931: ['Norman Taurog'], 1932: ['Frank Borzage'], 1933: ['Frank Lloyd'], 1934: ['Frank Capra'], 1935: ['John Ford'], 1936: ['Frank Capra'], 1937: ['Leo McCarey'], 1938: ['Frank Capra'], 1939: ['Victor Fleming'], 1940: ['John Ford'], 1941: ['John Ford'], 1942: ['William Wyler'], 1943: ['Michael Curtiz'], 1944: ['Leo McCarey'], 1945: ['Billy Wilder'], 1946: ['William Wyler'], 1947: ['Elia Kazan'], 1948: ['John Huston'], 1949: ['Joseph L. Mankiewicz'], 1950: ['Joseph L. Mankiewicz'], 1951: ['George Stevens'], 1952: ['John Ford'], 1953: ['Fred Zinnemann'], 1954: ['Elia Kazan'], 1955: ['Delbert Mann'], 1956: ['George Stevens'], 1957: ['David Lean'], 1958: ['Vincente Minnelli'], 1959: ['William Wyler'], 1960: ['Billy Wilder'], 1961: ['Jerome Robbins', 'Robert Wise'], 1962: ['David Lean'], 1963: ['Tony Richardson'], 1964: ['George Cukor'], 1965: ['Robert Wise'], 1966: ['Fred Zinnemann'], 1967: ['Mike Nichols'], 1968: ['Carol Reed'], 1969: ['John Schlesinger'], 1970: ['Franklin J. Schaffner'], 1971: ['William Friedkin'], 1972: ['Bob Fosse'], 1973: ['George Roy Hill'], 1974: ['Francis Ford Coppola'], 1975: ['Milos Forman'], 1976: ['John G. Avildsen'], 1977: ['Woody Allen'], 1978: ['Michael Cimino'], 1979: ['Robert Benton'], 1980: ['Robert Redford'], 1981: ['Warren Beatty'], 1982: ['Richard Attenborough'], 1983: ['James L. Brooks'], 1984: ['Milos Forman'], 1985: ['Sydney Pollack'], 1986: ['Oliver Stone'], 1987: ['Bernardo Bertolucci'], 1988: ['Barry Levinson'], 1989: ['Oliver Stone'], 1990: ['Kevin Costner'], 1991: ['Jonathan Demme'], 1992: ['Clint Eastwood'], 1993: ['Steven Spielberg'], 1994: ['Robert Zemeckis'], 1995: ['Mel Gibson'], 1996: ['Anthony Minghella'], 1997: ['James Cameron'], 1998: ['Steven Spielberg'], 1999: ['Sam Mendes'], 2000: ['Steven Soderbergh'], 2001: ['Ron Howard'], 2002: ['Roman Polanski'], 2003: ['Peter Jackson'], 2004: ['Clint Eastwood'], 2005: ['Ang Lee'], 2006: ['Martin Scorsese'], 2007: ['Ethan Coen', 'Joel Coen'], 2008: ['Danny Boyle'], 2009: ['Kathryn Bigelow'], 2010: ['Tom Hooper']}


### For Question 2: Please provide a list with the name(s) of the director(s) with 
### the most Oscar wins. The list can hold the names of multiple directors,
### since there can be more than 1 director tied with the most Oscar wins.

most_win_director = []

director_dict = {}
# Add your code here
for personList in winners.values():
    for person in personList:
        if person in director_dict:
            director_dict[person] +=1
        else:
            director_dict[person] = 1


max = 0
for wins_count in director_dict.values():
    if wins_count > max:
        max = wins_count

for name,wins_count in director_dict.items():
    if wins_count == max:
        most_win_director.append(name)

print("most_win_director = {}".format(most_win_director))

most_win_director = ['John Ford']

In [12]:
egg_count = 0

def buy_eggs():
    egg_count += 12 # purchase a dozen eggs

buy_eggs()

UnboundLocalError: local variable 'egg_count' referenced before assignment

In [13]:
str1 = 'Functions are important programming concepts.'

def print_fn():
    #str1 = 'Variable scope is an important concept.'
    print(str1)

print_fn()

Functions are important programming concepts.

In [15]:
str1 = 'Functions are important programming concepts.'

def print_fn():
    print(str1)

print_fn(str1)

TypeError: print_fn() takes 0 positional arguments but 1 was given

In [16]:
multiply = lambda x,y: x*y

In [17]:
multiply(2,3)

6

In [18]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

short_cities = list(filter(lambda name: len(name) < 10, cities))
print(short_cities)

['Chicago', 'Denver', 'Boston']

In [20]:
how_many_snakes = 1
snake_string = """
Welcome to Python3!

             ____
            / . .\\
            \  ---<
             \  /
   __________/ /
-=:___________/

<3, Juno
"""


print(snake_string * how_many_snakes)

Welcome to Python3!

             ____
            / . .\
            \  ---<
             \  /
   __________/ /
-=:___________/

<3, Juno

In [52]:
name = input('please enter your name')
print(f'hello {name} morning')

please enter your namekid
hello kid morning

In [22]:
result = eval(input("Enter an expression: "))
print(result)

Enter an expression: 2*3
6

In [53]:
names = input("Enter names separated by commas: ").title().split(",")
assignments = input("Enter assignment counts separated by commas: ").split(",")
grades = input("Enter grades separated by commas: ").split(",")

message = "Hi {},\n\nThis is a reminder that you have {} assignments left to \
submit before you can graduate. You're current grade is {} and can increase \
to {} if you submit all assignments before the due date.\n\n"

for name,assign,grd in zip(names,assignments,grades):
    print(message.format(name,assign,grd,int(assign)*2))

Enter names separated by commas: kid,vivian
Enter assignment counts separated by commas: 10,20
Enter grades separated by commas: 5,3
Hi Kid,

This is a reminder that you have 10 assignments left to submit before you can graduate. You're current grade is 5 and can increase to 20 if you submit all assignments before the due date.


Hi Vivian,

This is a reminder that you have 20 assignments left to submit before you can graduate. You're current grade is 3 and can increase to 40 if you submit all assignments before the due date.

In [55]:
names = input("Enter names separated by commas: ").title().split(",")
assignments = input("Enter assignment counts separated by commas: ").split(",")
grades = input("Enter grades separated by commas: ").split(",")

message = "Hi {},\n\nThis is a reminder that you have {} assignments left to \
submit before you can graduate. You're current grade is {} and can increase \
to {} if you submit all assignments before the due date.\n\n"

for name, assignment, grade in zip(names, assignments, grades):
    print(message.format(name, assignment, grade, int(grade) + int(assignment)*2))

Enter names separated by commas: kid,vivian
Enter assignment counts separated by commas: 1,2
Enter grades separated by commas: 5,4
Hi Kid,

This is a reminder that you have 1 assignments left to submit before you can graduate. You're current grade is 5 and can increase to 7 if you submit all assignments before the due date.


Hi Vivian,

This is a reminder that you have 2 assignments left to submit before you can graduate. You're current grade is 4 and can increase to 8 if you submit all assignments before the due date.

In [31]:
try:
    x = int(input('Enter a number.'))
    print ('number increased by 10% is {}'.format(x*1.1))
except:
    print('this is not a valid number.')

Enter a number.ten
this is not a valid number.

In [32]:
try:
    2/0
except Exception as e:
   # some code
   print("Exception occurred: {}".format(e))

Exception occurred: division by zero

In [35]:
with open('sweetfile.txt',mode = 'a') as myfile:
    myfile.write('today is 17th Feb 2020')

In [36]:
with open('sweetfile.txt', 'a') as f:
    f.write("\n today is pretty cold too.")

In [57]:
with open('sweetfile.txt', 'r') as f:
    print(f.read())
    f.readline

Hello this is kid.
I am an awesome person.
I can do anything I want which is pretty awesome too.
Super cute tooSuper cute tooSuper cute too

In [60]:
string = ' richad kid '

# Leading whitepsace are removed
print(string.strip())

print(string.strip(' thiri y'))

richad kid
chad kid

In [49]:
def create_cast_list(filename):
    cast_list = []
    #use with to open the file filename
    #use the for loop syntax to process each line
    #and add the actor name to cast_list
    
    with open ('flying_circus_cast.txt',mode='r') as f:
        for st in f:
            cast_list.append(st.split(',')[0])

    return cast_list

cast_list = create_cast_list('flying_circus_cast.txt')
for actor in cast_list:
    print(actor)

Graham Chapman
Eric Idle
Terry Jones
Michael Palin
Terry Gilliam
John Cleese
Carol Cleveland
Ian Davidson
John Hughman
The Fred Tomlinson Singers
Connie Booth
Bob Raymond
Lyn Ashley
Rita Davies
Stanley Mason
David Ballantyne
Donna Reading
Peter Brett
Maureen Flanagan
Katya Wyeth
Frank Lester
Neil Innes
Dick Vosburgh
Sandra Richards
Julia Breck
Nicki Howorth
Jimmy Hill
Barry Cryer
Jeannette Wild
Marjorie Wilde
Marie Anderson
Caron Gardner
Nosher Powell
Carolae Donoghue
Vincent Wong
Helena Clayton
Nigel Jones
Roy Gunson
Daphne Davey
Stenson Falke
Alexander Curry
Frank Williams
Ralph Wood
Rosalind Bailey
Marion Mould
Sheila Sands
Richard Baker
Douglas Adams
Ewa Aulin
Reginald Bosanquet
Barbara Lindley
Roy Brent
Jonas Card
Tony Christopher
Beulah Hughes
Peter Kodak
Lulu
Jay Neill
Graham Skidmore
Ringo Starr
Fred Tomlinson
David Hamilton
Suzy Mandel
Peter Woods

In [51]:
# initiate empty list to hold user input and sum value of zero
user_list = []
list_sum = 0

# seek user input for ten numbers 
for i in range(10):
    userInput = input("Enter any 2-digit number: ")
    
# check to see if number is even and if yes, add to list_sum
# print incorrect value warning  when ValueError exception occurs
    try:
        number = int(userInput)
        user_list.append(number)
        if number % 2 == 0:
            list_sum += number
    except ValueError:
        print("Incorrect value. That's not an int!")

print("user_list: {}".format(user_list))
print("The sum of the even numbers in user_list is: {}.".format(list_sum))

Enter any 2-digit number: 23
Enter any 2-digit number: 24
Enter any 2-digit number: 25
Enter any 2-digit number: 26
Enter any 2-digit number: 27
Enter any 2-digit number: 28
Enter any 2-digit number: 29
Enter any 2-digit number: 30
Enter any 2-digit number: 31
Enter any 2-digit number: 22
user_list: [23, 24, 25, 26, 27, 28, 29, 30, 31, 22]
The sum of the even numbers in user_list is: 130.

In [52]:
# demo.py

import useful_functions as uf

scores = [88, 92, 79, 93, 85]

mean = uf.mean(scores)
curved = uf.add_five(scores)

mean_c = uf.mean(curved)

print("Scores:", scores)
print("Original Mean:", mean, " New Mean:", mean_c)

print(__name__)
print(uf.__name__)

ModuleNotFoundError: No module named 'useful_functions'

In [53]:
# demo.py

import useful_functions as uf

scores = [88, 92, 79, 93, 85]

mean = uf.mean(scores)
curved = uf.add_five(scores)

mean_c = uf.mean(curved)

print("Scores:", scores)
print("Original Mean:", mean, " New Mean:", mean_c)

print(__name__)
print(uf.__name__)

Scores: [88, 92, 79, 93, 85]
Original Mean: 87.4  New Mean: 92.4
__main__
useful_functions

In [54]:
import math
math.factorial(4)

24

In [60]:
import math
math.exp(3)

20.085536923187668

In [71]:
# Use an import statement at the top
import random

word_file = "words.txt"
word_list = []

#fill up the word_list
with open(word_file,'r') as words:
	for line in words:
		# remove white space and make everything lowercase
		word = line.strip().lower()
		# don't include words that are too long or too short
		if 3 < len(word) < 8:
			word_list.append(word)

# Add your function generate_password here
# It should return a string consisting of three random words 
# concatenated together without spaces

def generate_password():
    rad_string = ''
    for i in range(1,4):
        rad_string += word_list[random.randint(0,len(word_list)-1)]
    return rad_string
    

# test your function
print(generate_password())

bookwhatsitting

In [72]:
# Use an import statement at the top
import random

word_file = "words.txt"
word_list = []

#fill up the word_list
with open(word_file,'r') as words:
	for line in words:
		# remove white space and make everything lowercase
		word = line.strip().lower()
		# don't include words that are too long or too short
		if 3 < len(word) < 8:
			word_list.append(word)

# Add your function generate_password here
# It should return a string consisting of three random words 
# concatenated together without spaces

def generate_password():
    return random.choice(word_list) +  random.choice(word_list) +  random.choice(word_list)
    

# test your function
print(generate_password())

twicehavingwhat

In [79]:
from datetime import date
date.today()

datetime.date(2020, 2, 17)

In [84]:
import pandas as p

In [8]:
#Question: Create a function that opens the flowers.txt, reads every line in it, and saves it as a dictionary. 
#The main (separate) function should take user input (user's first name and last name) and 
#parse the user input to identify the first letter of the first name. It should then use it to print the flower name 
#with the same first letter (from dictionary created in the first function).

# Write your code here
# HINT: create a dictionary from flowers.txt
# HINT: create a function to ask for user's first and last name
# print the desired output
flower_dict = {}

with open('flowers.txt', 'r') as f:
    for flower in f:
        (key,value) = flower.split(": ")
        flower_dict[key] = value

username = input('Enter your First [space] Last name only:').split(' ')
user_flower = flower_dict.get(username[0][0].capitalize())
print('Unique flower name with the first letter: {}'.format(user_flower))

Enter your First [space] Last name only:phone thiri
Unique flower name with the first letter: Peace Lily

In [10]:
import twilio

ModuleNotFoundError: No module named 'twilio'

Iterators and Generators

In [1]:
def my_range(num):
    i = 0
    while i < num:
        yield i
        i+=1

In [4]:
for x in my_range(5):
    print(x)

0
1
2
3
4

In [17]:
lessons = ["Why Python Programming", "Data Types and Operators", "Control Flow", "Functions", "Scripting"]

def my_enumerate(iterable, start=0):
    # Implement your generator function here
    count = start
    for item in iterable:
        yield count, item
        count += 1

for i, lesson in my_enumerate(lessons, 1):
    print("Lesson {}: {}".format(i, lesson))

Lesson 1: Why Python Programming
Lesson 2: Data Types and Operators
Lesson 3: Control Flow
Lesson 4: Functions
Lesson 5: Scripting

In [25]:
def chunker(iterable, size):
    # Implement function here
    for i in range(0,len(iterable),size):
        yield iterable[i:i+size]


for chunk in chunker(range(25), 4):
    print(list(chunk))

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]
[16, 17, 18, 19]
[20, 21, 22, 23]
[24]

In [28]:
square_list = [item**2 for item in range(10)]
print(square_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
square_iterator = (item**2 for item in range (10))
print(square_iterator)
print(list(square_iterator))

<generator object <genexpr> at 0x000000364031C648>
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
square_iterator = (item**2 for item in range (10))
for item in square_iterator:
    print(item * 2)

0
2
8
18
32
50
72
98
128
162

In [38]:
[0,1,2] + [1,2,3]

[0, 1, 2, 1, 2, 3]

In [47]:
p = [[3,'A',5], [2,6,'B'],['C','D','E']]
print(p[1][0:2])

[2, 6]

In [64]:
class Dog():
    
    species = 'mammal'
    
    def __init__(self,breed,name,spots):
        self.breed = breed
        self.name = name
        self.spots = spots
        
    def bark(self,greeting_name):
        print('woof woof! Hello {}. My name is {}'.format(greeting_name,self.name))

In [65]:
doggy = Dog(breed='huski', name = 'husk', spots = False)

In [66]:
doggy.name
doggy.breed
doggy.spots
doggy.species

'mammal'

In [67]:
doggy.bark('Kid')

woof woof! Hello Kid. My name is husk

In [41]:
class Circle():
    #class object attribute
    pi = 3.14
    
    def __init__(self,radius = 1):
        self.radius = radius
        self.area = Circle.pi * radius **2
        
    def getCircumfrerence(self):
        return 2* Circle.pi * self.radius

In [55]:
my_circle = Circle(4)

In [56]:
my_circle.area

50.24

In [57]:
my_circle.getCircumfrerence()

25.12

In [70]:
class Animal():
    
    def __init__(self):
        print('Animal created')
        
    def who_am_i (self):
        print('I am an Animal')
        
    def eat(self):
        print ('I am eating')

In [71]:
animal = Animal()

Animal created

In [72]:
animal.who_am_i()

I am an Animal

In [73]:
animal.eat()

I am eating

In [74]:
class Cat(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print("cat created")
    
    def speak(self):
        print("meow meow !!!")
        
    def who_am_i(self):
        print("I am a cat.")

In [75]:
class Doggy(Animal):
    
    def __initi__(self):
        Animal.__init__(self)
        print("dog created")
    
    def speak(self):
        print("woof woof")
        
    def who_am_i(self):
        print("I am a doggy.")

polymorphism

In [76]:
def pet_speak(pet):
    pet.speak()

In [77]:
kitty = Cat()

Animal created
cat created

In [78]:
kitty.who_am_i()

I am a cat.

In [79]:
kitty.speak()

meow meow !!!

In [101]:
husk = Doggy()

Animal created

In [81]:
husk.speak()

woof woof

In [82]:
husk.who_am_i()

I am a doggy.

In [83]:
pet_speak(kitty)
pet_speak(husk)

meow meow !!!
woof woof

In [84]:
class Book():
    
    def __init__(self,title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages
    
    def __str__(self):
        return f'This book {self.title} is by {self.author} and has {self.pages} pages.'
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("The book has been deleted.")

In [85]:
b = Book("python rocks", 'kid', 200)

In [86]:
print(b)

This book python rocks is by kid and has 200 pages.

In [43]:
len(b)

200

In [44]:
del b

The book has been deleted.

In [48]:
import math
print(dir(math))
import random
print(dir(random))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_BuiltinMethodType', '_MethodType', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_inst', '_itertools', '_log', '_os', '_pi', '_random', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [49]:
help(random.choice)

Help on method choice in module random:

choice(seq) method of random.Random instance
    Choose a random element from a non-empty sequence.

In [50]:
random.choice([1,2,3,4,5])

3

In [58]:
try:
    with open("sweetfile.txt", 'r') as f:
        f.write('testing111112222222')
except:
    print("All other exception.")
finally:
    print("I always run")

All other exception.
I always run

In [62]:
def ask_for_int():
    while True:
        try:
            num = int(input("Please enter a number: "))
        except:
            print("Whooop! that's not a number.")
            continue
        else:
            print("Thank you.")
            break
        finally:
            print("------------------------")

In [63]:
ask_for_int()

Please enter a number: asdf
Whooop! that's not a number.
------------------------
Please enter a number: asdf
Whooop! that's not a number.
------------------------
Please enter a number: 234
Thank you.
------------------------

In [1]:
def cool():
    
    def super_cool():
        return "I am super cool !"
    
    return super_cool

In [2]:
my_func = cool()

In [3]:
my_func

In [4]:
my_func()

'I am super cool !'

In [87]:
def hello():
    return "Hi kid"

In [88]:
def other_fun(some_def_func):
    print("This is other fun.")
    print(some_def_func())

In [89]:
#passing hello as raw function as parameter
other_fun(hello)

This is other fun.
Hi kid

decorator function

In [8]:
def func_needs_decorator():
    print("I need to be decorated.")

In [12]:
def new_decorator(original_func):
    
    def wrap_func():
        print("some extra code before the original function")

        original_func()

        print("some extra code after the original function")
    
    return wrap_func

In [13]:
func_needs_decorator()

I need to be decorated.

In [14]:
newly_wrapped_func = new_decorator(func_needs_decorator)

In [15]:
newly_wrapped_func()

some extra code before the original function
I need to be decorated.
some extra code after the original function

decorator using @

In [16]:
@new_decorator
def func_needs_decorator():
    print("I need to be decorated.")

In [19]:
func_needs_decorator()

some extra code before the original function
I need to be decorated.
some extra code after the original function

Generator

In [7]:
def gen_fibonacci(n):
    a,b = 1,1
    
    for i in range(n):
        yield a
        a,b = b,a+b

In [8]:
gen_fibonacci(10)

for num in gen_fibonacci(10):
    print(num)

generator comprehension

In [12]:
my_list = [1,2,3,4,5]

gen_comprehension = (item for item in my_list if item > 3)

for item in gen_comprehension:
    print(item)

4
5

In [1]:
a = [1,2,3]
b = [3,4,5]
c = [6,7,8]

In [8]:
my_list = map(lambda x,y,z: x+y+z, a,b,c)

list(my_list)

[10, 13, 16]

In [9]:
my_list = map(lambda num: num*-1, a)

list(my_list)

[-1, -2, -3]

In [21]:
my_list = list(map(lambda num: num**2, [1,2,3]))
print(my_list)

[1, 4, 9]

In [23]:
my_list = list(filter(lambda num: num%2 ==0, [1,2,3,4,5,6]))
print(my_list)

[2, 4, 6]

In [25]:
#list comprehension
my_list = [num**2 for num in range(0,11)]
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
my_list = [x for x in range(0,11) if x%2 == 0]
my_list

[0, 2, 4, 6, 8, 10]

In [27]:
results = [num if num%2 == 0 else "ODD" for num in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [32]:
# *args and **kwargs
def my_func(*args):
    print(args)
    return sum(args) * 0.05

In [33]:
my_func(10,20,70)

(10, 20, 70)

5.0

In [34]:
my_func(10,20,70,900)

(10, 20, 70, 900)

50.0

In [36]:
def my_new_func(**kwargs):
    print(kwargs)
    print("my fav food item is {}". format(kwargs['food']))

In [38]:
my_new_func(food = 'eggs', fruit = 'orange')

{'food': 'eggs', 'fruit': 'orange'}
my fav food item is eggs

In [42]:
x = [1,2,3]
y = ['a','b','c']

list(zip(x,y))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [44]:
sweetList = ['A','B','C','D','E']

print(enumerate(sweetList))

for count, item in enumerate(sweetList):
    print(count)
    print(item)

<enumerate object at 0x0000004DCE71D0E8>
0
A
1
B
2
C
3
D
4
E

In [47]:
months = ['May', 'June', 'July', 'August']
print(list(enumerate(months,start = 3)))

[(3, 'May'), (4, 'June'), (5, 'July'), (6, 'August')]

Numpy udacity

In [5]:
import time
import numpy as np

In [6]:
x = np.random.random(1000000)

In [7]:
start = time.time()

sum(x) / len(x)

print(time.time() - start)

0.22907733917236328

In [9]:
start = time.time()

np.mean(x)

print(time.time() - start)
#numpy took less time than plain python code

0.0020029544830322266

In [10]:
import numpy as np
x = np.array([1,2,3,4,5])

print(x)
print(type(x))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [12]:
x.dtype

dtype('int32')

In [14]:
x.shape

(5,)

In [17]:
two_dimen_array = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
print(two_dimen_array)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [21]:
two_dimen_array.shape

(4, 3)

In [1]:
two_dimen_array.size

NameError: name 'two_dimen_array' is not defined

In [2]:
round(3.1415159,2)

3.14

In [3]:
abs(-3.5)

3.5

# Collection Modules

In [6]:
#Counter
#counter the number of times for each items in list

from collections import Counter

In [7]:
myList = [1,2,3,4,1,2,3,4,5,12,44,3,44,44,44,1,2,3,10]
Counter(myList)

Counter({1: 3, 2: 3, 3: 4, 4: 2, 5: 1, 12: 1, 44: 4, 10: 1})

In [8]:
myString = 'asdfkwtrgfaasdfasadaskd'
Counter(myString)

Counter({'a': 6,
         's': 4,
         'd': 4,
         'f': 3,
         'k': 2,
         'w': 1,
         't': 1,
         'r': 1,
         'g': 1})

In [14]:
myString = 'How many times this word has shown up in this sentence word word word. Blah Blah'

words = myString.split()

common_words = Counter(words)

type(common_words)

#top 3 common words
common_words.most_common(3)

[('word', 3), ('this', 2), ('Blah', 2)]

In [20]:
list(common_words)

['How',
 'many',
 'times',
 'this',
 'word',
 'has',
 'shown',
 'up',
 'in',
 'sentence',
 'word.',
 'Blah']

In [25]:
word_count = sum(common_words.values())
print(word_count)

16

In [34]:
#least appear 5 words

common_words.most_common()[:5:-1]

[('word.', 1), ('sentence', 1), ('in', 1), ('up', 1), ('shown', 1), ('has', 1)]

#Default Dictonary

In [35]:
from collections import defaultdict

In [36]:
normal_d = {"key1":1}

In [38]:
normal_d['key1']

1

In [39]:
normal_d['key2']

KeyError: 'key2'

In [42]:
#let's use defaultdict to avoid getting KeyError
#defaultdict will always return default value for key which doen't exist, instead of throwing KeyError

default_d = defaultdict(object)

In [43]:
default_d["key1"]

In [44]:
d = defaultdict(lambda : 0)

In [45]:
d['key1']

0

In [46]:
d['key2'] = 2

In [48]:
for item in d.items():
    print(item)

('key1', 0)
('key2', 2)

In [49]:
d

defaultdict(<function __main__.<lambda>()>, {'key1': 0, 'key2': 2})

In [50]:
d['key2']

2

In [51]:
my_dict = {'a':1,'b':2

In [52]:
my_dict ['key1']

1

#Ordered Dictionary

In [53]:
normal_dict = {}

In [56]:
normal_dict ['a'] = 1
normal_dict ['b'] = 2
normal_dict ['c'] = 3
normal_dict ['d'] = 4
normal_dict ['e'] = 5

for k,v in normal_dict.items():
    print (k,v)

a 1
b 2
c 3
d 4
e 5

In [58]:
from collections import OrderedDict
ordered_dict = OrderedDict()

In [59]:
ordered_dict ['a'] = 1
ordered_dict ['b'] = 2
ordered_dict ['c'] = 3
ordered_dict ['d'] = 4
ordered_dict ['e'] = 5

for k,v in ordered_dict.items():
    print (k,v)

a 1
b 2
c 3
d 4
e 5

In [60]:
#dictionary comparison

#normal one => just compare key and values without considering the ordering sequence

d1 = {}
d1['a']=1
d1['b']=2

d2 = {}
d2['b']=2
d2['a']=1

print(d1==d2)

True

In [61]:
#dictionary comparison

#ordered dictionary one => compare ordering sequence too, on top of comparing keys and values

d1 = OrderedDict()
d1['a']=1
d1['b']=2

d1 = OrderedDict()
d2['b']=2
d2['a']=1

print(d1==d2)

False

# namedtuple

In [62]:
my_tuple = ('A','B','C')

In [63]:
#normal tuple uses index which might get confusing if tuple gets very large and lost track of it.
my_tuple[0]

'A'

In [95]:
#namedtuple can be very useful for such cases
#namedtuple is like quick way of creating new class/object with some attributes
from collections import namedtuple

In [96]:
Dog = namedtuple('Dog', 'name age breed')

In [97]:
doggy = Dog(name='husk', age = 2, breed='burmese dog')

In [98]:
doggy.age

2

In [99]:
doggy[0]

'husk'

In [100]:
doggy.name

'husk'

In [70]:
doggy.breed

'burmese dog'

In [266]:
count,fruit,price = (2,'apple',3.5)

print(count)

2

# Date time

In [73]:
import datetime

t = datetime.time(12,2,10)

In [74]:
t.hour

12

In [75]:
t

datetime.time(12, 2, 10)

In [76]:
print(t)

12:02:10

In [80]:
print('Earliest: ', datetime.time.min)
print('Latest: ', datetime.time.max)
print('Resolution: ', datetime.time.resolution)

Earliest:  00:00:00
Latest:  23:59:59.999999
Resolution:  0:00:00.000001

In [81]:
today = datetime.date.today()

In [82]:
print(today)

2020-02-27

In [83]:
today.year

2020

In [84]:
print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)
print('Resolution:', datetime.date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

In [85]:
d1 = datetime.date(2020,2,29)

In [86]:
print(d1)

2020-02-29

In [87]:
d2 = d1.replace(month = 3)

In [88]:
print(d2)

2020-03-29

In [90]:
#timedelta gives days of difference between date 1 and date 2
d2 - d1

datetime.timedelta(days=29)

# degugging

In [93]:

import pdb

In [94]:


x = [1,2,3]
y = 10
z = 20

pdb.set_trace()

print (y+z)
print (x+y)

--Return--
> <ipython-input-94-ff1ccd039b1f>(5)<module>()->None
-> pdb.set_trace()
(Pdb)
(Pdb)
(Pdb)
(Pdb) x+y
*** TypeError: can only concatenate list (not "int") to list
(Pdb) q

BdbQuit:

# timeing your code : timeit

In [96]:
"-".join(str(num) for num in range(1,100))

'1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-81-82-83-84-85-86-87-88-89-90-91-92-93-94-95-96-97-98-99'

In [98]:
import timeit

timeit.timeit('"-".join(str(num) for num in range(1,100))',number = 10000)

0.3744552249991102

In [99]:
"-".join([str(num) for num in range(1,100)])

'1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-81-82-83-84-85-86-87-88-89-90-91-92-93-94-95-96-97-98-99'

In [100]:
"-".join(map(str,range(1,100)))

'1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-81-82-83-84-85-86-87-88-89-90-91-92-93-94-95-96-97-98-99'

In [102]:
#using python magic function for timeit

%timeit "-".join(str(num) for num in range(1,100))

31.7 s  1.27 s per loop (mean  std. dev. of 7 runs, 10000 loops each)

In [103]:
%timeit "-".join([str(num) for num in range(1,100)])

28.5 s  3.33 s per loop (mean  std. dev. of 7 runs, 10000 loops each)

In [104]:
%timeit "-".join(map(str,range(1,100)))

22.3 s  1.72 s per loop (mean  std. dev. of 7 runs, 10000 loops each)

# regular expression

In [110]:
'hello world'.split()

['hello', 'world']

In [90]:
import re

split_term = '@'
phrase = 'What is your email address, it is kittycat@gmail.com?'

re.split(split_term,phrase)

['What is your email address, it is kittycat', 'gmail.com?']

In [91]:
#finding how many times that particular word is in the string

re.findall('kitty', 'Hello kitty, today weather is pretty hot. don\'t you agree my love kitty?')

['kitty', 'kitty']

In [115]:
bin(1)

'0b1'

In [116]:
bin(0)

'0b0'

In [118]:
bin(2)

'0b10'

In [119]:
bin(3)

'0b11'

In [120]:
bin(4)

'0b100'

In [121]:
hex(100)

'0x64'

In [122]:
pow(3,2)

9

In [125]:
# (4**2)%3 same as below pow() result
pow(4,2,3)

1

In [129]:
round(3950,-1)

3950

In [130]:
round(3950,-2)

4000

In [48]:
s = 'RICHARD'
new_string = s.center(20,'z') #make the string to be in the center and wrapped by a bunch of Z with total lenght of 20.

In [49]:
print(new_string)

zzzzzzRICHARDzzzzzzz

In [139]:
len(new_string)

20

# Advance Set

In [140]:
s = set()

In [141]:
s.add(1)
s.add(2)
s.add(1)

In [142]:
s

{1, 2}

In [143]:
s.clear()

In [144]:
s

set()

In [145]:
s1 = {1,2,3}

In [146]:
s2 = s1.copy()

In [147]:
s2

{1, 2, 3}

In [148]:
s1.add(4)

In [149]:
s1

{1, 2, 3, 4}

In [150]:
s2

{1, 2, 3}

In [151]:
s1.difference(s2)

{4}

In [155]:
s3 = {3,4,5}

In [156]:
s3.difference_update(s2)

In [157]:
s3

{4, 5}

In [158]:
s1

{1, 2, 3, 4}

In [159]:
s1.discard(2)

In [160]:
s1

{1, 3, 4}

In [161]:
s1

{1, 2, 3}

In [162]:
s2

{1, 2, 3}

In [163]:
s1.add(4)

In [164]:
s1

{1, 3, 4}

In [165]:
s2

{1, 2, 3}

In [166]:
s1.intersection(s2)

{1, 3}

In [175]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {6,7}
s4 = {6,7,8,9}

In [176]:
s1.isdisjoint(s2) #because s1 and s2 has intersection values 3

False

In [177]:
s1.isdisjoint(s3)

True

In [178]:
s3.issubset(s1)

False

In [179]:
s3.issubset(s4)

True

In [181]:
s4.issuperset(s3)

True

In [182]:
print(s1)
print(s2)
print(s3)
print(s4)

{1, 2, 3}
{3, 4, 5}
{6, 7}
{8, 9, 6, 7}

In [185]:
s1.difference(s2)

{1, 2}

In [186]:
s1.symmetric_difference(s2)

{1, 2, 4, 5}

In [187]:
s3.union(s4)

{6, 7, 8, 9}

In [188]:
print(s3)
print(s4)

{6, 7}
{8, 9, 6, 7}

In [189]:
s3.update(s4)

In [190]:
s3

{6, 7, 8, 9}

In [191]:
[x**2 for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [192]:
{x : x**2 for x in range(1,10)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [193]:
l = [1,2,3,4]

In [194]:
l.append([5,6])

In [198]:
l

[1, 2, 3, 4, [5, 6], 5, 6]

In [199]:
l = [1,2,3,4]
l.extend([5,6])

In [203]:
l

[1, 2, 3, 4, 5, 6]

In [204]:
l.insert(2,"inserted")

In [205]:
l

[1, 2, 'inserted', 3, 4, 5, 6]

In [206]:
l = [1,2,3,4,5,3]

In [207]:
l.remove(3)

In [208]:
l

[1, 2, 4, 5, 3]

In [209]:
l.reverse()

In [210]:
l

[3, 5, 4, 2, 1]

In [211]:
l.sort()

In [212]:
l

[1, 2, 3, 4, 5]

In [217]:
def multiply(a,b):
    return a*b

In [218]:
print(multiply(2,4))

8

In [219]:
import math

In [220]:
def check(class_points,my_point):
    class_average = sum(class_points)/len(class_points)
    return my_point > class_average

In [223]:
check([10,20,30], 21)

True

In [242]:
st = 'abc'

In [238]:
import re

In [239]:
print(re.findall('..',st))

['ab']

In [240]:
re.findall('..','abc')

['ab']

In [255]:
import re
def split_fun(st):
    splitted_list = re.findall('..',st)
    
    if len(st)%2 != 0:
        splitted_list.append(st[-1:] + '_')
    
    return splitted_list

In [258]:
split_fun('abcde')

['ab', 'cd', 'e_']

In [259]:
def solution(s):
    return re.findall(".{2}", s + "_")

In [260]:
solution('abc')

['ab', 'c_']

In [262]:
colleage_years = ['freshman','sophomore','junior','senior']
print(list(enumerate(colleage_years,2019)))

[(2019, 'freshman'), (2020, 'sophomore'), (2021, 'junior'), (2022, 'senior')]

In [271]:
class pen:
    def __init__(self,color):
        self.color = color

In [272]:
my_pen = pen('blue')

In [273]:
my_pen.color

'blue'

In [276]:
my_dict = {'key1':1,'key2':2}

In [277]:
for key in my_dict:
    print(key)

key1
key2

In [280]:
def sum(a,b):
    """
    >>> sum(3,4)
    7

    >>> sum(-4,5)
    1
    """
    return a+b

In [281]:
sum(3,5)

8

In [348]:
def two_oldest_ages(ages):
    #ages.sort()
    #return ages[len(ages)-2 : len(ages)]
    print(sorted(ages))
    return sorted(ages)[-2:]

In [349]:
ages = [1, 3, 10, 0]
results = two_oldest_ages([1, 3, 10, 0])
print(results)

[0, 1, 3, 10]
[3, 10]

In [400]:
def get_sum(a,b):
    total = 0
    if a>b:
        for num in range(b,a+1):
            total += num
    else:
        for num in range(a,b+1):
            total += num
    return total

In [401]:
get_sum(-2, -4)

Loop1
-4
Loop1
-7
Loop1
-9

-9

In [437]:
def get_sum_new(a,b):
    return sum(range(min(a, b), max(a, b) + 1))

In [444]:
get_sum_new(1,2)

TypeError: sum() missing 1 required positional argument: 'b'

In [ ]:
res = sum(x for x in range(100, 2001) if x % 3 == 0)

In [2]:
def solution(number):
    return sum(x for x in range(number) if x%3 ==0 or x%5 ==0)

In [3]:
solution(10)

23

#A Narcissistic Number is a number which is the sum of its own digits, each raised to the power of the number of digits in a given base. In this Kata, we will restrict ourselves to decimal (base 10).

In [32]:
def narcissistic( value ):
    return sum([int(num)**len(str(value)) for num in str(value)]) == value

In [37]:
narcissistic(122)

False


Categorize New Member

In [45]:
def openOrSenior(data):
    result_list = []
    for person in data:
        if person[0] >= 55 and person[1] > 7:
            result_list.append('Senior')
        else:
            result_list.append('Open')
    return result_list

In [46]:
openOrSenior([[18, 20],[45, 2],[61, 12],[37, 6],[21, 21],[78, 9]])

['Open', 'Open', 'Senior', 'Open', 'Open', 'Senior']

In [69]:
openOrSenior([[48, 5], [51, 27], [55, 11], [65, 7], [14, 3], [41, -2]])

['Open', 'Open', 'Senior', 'Open', 'Open', 'Open']

In [68]:
#after refactor

def openOrSenior(data):
    return [ 'Senior' if age >= 55 and handicap > 7 else 'Open' for (age,handicap) in data ]

In [76]:
#recursive factorial
def recursive_factorial(num):
    #base case
    if num == 1:
        return 1
    else:
        return num * recursive_factorial(num-1)

In [75]:
recursive_factorial(4)

24

In [79]:
#recursive santa
def deliver_presents_iteratively(houses):
    total_houses = len(houses)
    current_house = 0
    if(current_house == total_houses - 1):
        print('Delivering present to ', houses[current_house])
    else:
        print('Delivering present to ', houses[current_house])
        current_house += 1
        deliver_presents_iteratively(current_house)

In [83]:
houses = ["Eric's house", "Kenny's house", "Kyle's house", "Stan's house"]
deliver_presents_iteratively(houses)

Delivering present to  Eric's house

TypeError: object of type 'int' has no len()